#text {
  width: 100%;
}
.fav{
    color: #ffea00
}
/* .thead-tds {
    padding: 0.2rem;
    margin: 0.4rem;
    display: block;
} */

.btn-outline-warning{
    background: white !important;
    border-color: #6C757D !important;
}
.ds-none {
    display: none;
  }
  
  .ds-block {
    display: block;
  }
  
.havadurumu{
    text-align: center;
}